<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <uli>
            <li><a href="/">Ver todos</a></li>
        </uli>
    </nav>
    {{{body}}}
</body>
</html>